
.jqPivotTable, .jqPivotInnerTable{
	width:100%;
/*	max-width:1600px;*/
	border-spacing:0;
	border-collapse:collapse;
	margin:0;
	padding:0;
/*	position: relative;*/
}

.jqPivotInnerTable th, .jqPivotInnerTable td{
   border-left:0px;
}
