/*
body{
	background-color: white;
	text-align:center;
	padding:55px;
}

.center{
	text-align:left;
}
*/

/* not extensible enuff, but keeps styling out of JS
#cell_1_1, #cell_1_2, #cell_1_3, #cell_1_4, #cell_1_5, #cell_1_6{
	border-top:0px;
}
*/


.jqPivotTable, .jqPivotInnerTable{
	width:100%;
	max-width:1600px;
	border-spacing:0;
	border-collapse:collapse;
	margin:0;
	padding:0;
	position: relative;
}

.jqPivotTable th{
	/*
	border-top:1px solid black;
	border-right:1px solid black;
	border-bottom:1px solid black;
	border-left:1px solid black;
    padding:0;
    margin:0;*/
}
.jqPivotTable td{
	/*
	margin:0px;
	padding:0px;
	border-spacing:0;
	border-collapse:collapse;
	border:0px;
	border-left:1px solid black;
	border-bottom:1px solid black;*/
}

.jqPivotInnerTable th, .jqPivotInnerTable td{
   border-left:0px;
    /*
    border:0px;
    border-top:1px solid black;
	border-right:1px solid black;
	border-bottom:1px solid black;
    padding:0px;
    margin:0px;
    */
}

.jqPivotTable, .jqPivotInnerCell {
    border: 0px none;
    margin:0px;
    padding:0px;
}

/*
.grip{
	width:20px;
	height:30px;
	margin-top:-3px;
	margin-left:-5px;
	position:relative;
	z-index:88;
	cursor:e-resize;
}

.grip:hover{
	background-position-x:-20px;
}

.dragging .grip{
	background-position-x:-40px;
}

.sampleText{
	position:relative;
	width:100%;
}

.dotted{
	background-image:url('../img/dotted.png');
	background-repeat:repeat-y;
}

input.check{
	
}

#sample2Txt{
	float:right;	
}
label{
	color:#0361ae;
}
*/
/*
#scroller {
    right: 0px !important;
    width: 17px;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute ;

    border: 1px solid green;
}
#cap {
    background-color: #FFFFFF;
    border-right: 1px solid black;
    border-top: 1px solid black;
    height: 20px;
    position: absolute;
    right: -19px;
    top: 0;
    width: 19px;
}
*/