.jqPivotTable, .jqPivotInnerTable{
	width:100%;
	border-spacing:0;
	border-collapse:collapse;
	margin:0;
	padding:0;
}


.jqPivotInnerTable tr th{
	/* hide this from UI, must not be display:none as events are bound to it */
	height:0px;
	border:0px;
	padding:0px;
}

.jqPivotInnerTable th, .jqPivotInnerTable td{
   border-left:0px;
}

#scroller {
	width:18px;
    height:0px;
    overflow-y:scroll;
    overflow-x:hidden;
    position:absolute;
    right:0px;
    top:0px;
    display:none;
}

#fake {
	height:0px;
    width:1px;
}

#jqPivotScrollingViewportContainer{
	overflow-y:hidden;
	overflow-x:hidden;
	margin:0px;
	padding:0px;
	border:0px;                                            	
}

.jqPivotGrips{
	 height:0px; 
	 position:relative;
}

.jqPivotGrip{
	margin-left:-2px; 
	position:absolute; 
	z-index:5;
}

.jqPivotGrip .jqPivotColResizer{
	position:absolute;
	background-color:transparent;
	opacity:0;
	width:10px;
	height:100%;
	top:0px
}

.jqPivotTable, .jqPivotInnerTable {
	table-layout:fixed;

} 
.jqPivotTable td, .jqPivotTable th{
	overflow:hidden;
	padding-left:0!important; 
	padding-right:0!important;
} 

.jqPivotLastGrip{
	position:absolute; 
	width:1px;
} 

.jqPivotGripDrag{ 
	margin-left:2px; 
	border-left:1px dotted black;
}

.grip{
	width:20px;
	height:30px;
	margin-top:-3px;
	margin-left:-5px;
	position:relative;
	z-index:88;
	cursor:e-resize;
}

.grip:hover{
	background-position-x:-20px;
}

.dragging .grip{
	background-position-x:-40px;
}

